# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/.vs
**/.idea
**/.bin
**/node_modules

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/crm/src/shared/ThirdPartyFile/Newtonsoft.Json/obj
/crm/src/shared/ThirdPartyFile/Newtonsoft.Json/bin
/crm/src/shared/ThirdPartyFile/.vs
/crm/src/shared/Framework/.vs
/crm/src/shared/Framework/Ave.Framework.Plugin/obj
/crm/src/shared/Framework/Ave.Framework.Plugin/.vs
/crm/src/shared/Framework/Ave.Framework.Plugin/bin
/crm/src/shared/Framework/Ave.Framework.Plugin/*.user
/Packages
**/.vs
**/.idea
**/bin
**/obj
**/*.user
**/node_modules
/identityserver/src/IdentityServer.Web/logs
**/wwwroot